.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task:last-child {
  border-bottom: none;
}

.context-menu__item {
  list-style-type: none;
}

.svg__wrapper {
  border: 2px solid red;
  width: 30px;
  height: 30px;
}
